// Here you can add other styles

.editable td{
    padding : 0 !important
}
.editable input{
    border : 1px solid #fff !important
}
.editable .form-control-plaintext {
    padding-left: 0.375rem;
}
